@import'./scss/bootstrap';
@import'./scss/register';
@import'./scss/login';
@import'./scss/forgot-password';
@import'./scss/authlayout';


#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  
  main{
    flex : 1 0 auto ;
  }
